#contact .title-section {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: -3rem;
    left: 0;
}

#contact .content {
    margin: -0.15rem;
    text-align: center;
    line-height: 1.24rem;
    max-width: 32rem;
    position: relative;
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-contact .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit !important;
}

.section-contact .link {
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

.section-contact .email {
    font-size: 1.2rem;
    top: -0.6rem;
    left: 0.4rem;
    letter-spacing: 0.75rem;
    position: relative;
}

@media screen and (max-width: 900px) {
    .section-contact .links {
        flex-direction: column;
        line-height: 1.3rem;
    }

    .section-contact .email {
        top: 0.7rem;
        letter-spacing: 0.1rem;
    }
}