.title-section {
    max-width: 300px;
}

.subtitle {
    top: 12.6rem;
    right: -0.3rem;
    font-size: 0.7rem;
    position: absolute;
    min-width: 170px;
    letter-spacing: 7.1px;
}

.line {
    padding-top: 4px;
}

.scroll-down-animation {
    position: absolute;
    bottom: 0;
    right: -3rem;
    opacity: 0.3;
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .title-section {
        left: 2rem;
    }

    .subtitle {
        margin-top: 1rem;
    }
}