:root {
  font-family: 'Abel', sans-serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

html,
body {
  background-color: #5f77f0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}

#canvas {
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(45deg, #5f77f0 0.000%, #c84fc0 50.000%, #4870c5 100.000%);
}

.title-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  top: 0;
  left: 4rem;
}

.section {
  width: calc(100% - 30px);
  height: calc(100vh - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 9;
  border: 15px solid white;
}

.header {
  font-family: 'Bebas Neue', sans-serif;
  text-align: left;
  font-size: 6rem;
  line-height: 0.75;
}

.space {
  height: 100vh;
}

@media (max-width: 768px) {
  .section {
    border: none;
    width: 100%;
    height: 100%;
  }
}