html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  position: relative;
  width: 100vh;
  height: 100vh;
}
